<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Converter</title>
    <link rel="stylesheet" href="/task11Views/styles.css" />
  </head>
  <body>
    <div id="div">
      <input type="text" placeholder="Enter year (example: 2022)" name="year" id="year" />
      <input type="text" placeholder="Enter month (example: 12)" name="month" id="month" />
      <input type="text" placeholder="Enter date (example: 18)" name="date" id="date" />
      <input type="text" placeholder="Enter hour (example: 23)" name="hour" id="hour" />
      <input type="text" placeholder="Enter minute (example: 30)" name="minute" id="minute" />
      <input type="text" placeholder="Enter second (example: 56)" name="second" id="second" />
      <br />
      <br />
      <span>Convert Time to:</span>
    </div>
    <br />
    <br />
    <span class="button" onclick="convertTime()">Submit</span>
    <script src="/task11Views/script.js"></script>
  </body>
</html>
