<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <link rel="stylesheet" href="./task16Views/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="change-password-div" id="change-password-div">
      <p class="change-title">Create a new password</p>
      <input
        type="password"
        name="create_password"
        id="create_password"
        placeholder="Create your Password"
      />
      <i
        class="bi bi-eye-fill showpass"
        style="display: none"
        onclick="toggleCreatePass('show')"
      ></i>
      <i class="bi bi-eye-slash-fill hidepass" onclick="toggleCreatePass('hide')"></i><br />
      <p class="change-error" id="password_error">Password must have 6 or more characters</p>
      <br />
      <br />
      <input
        type="password"
        name="confirm_password"
        id="confirm_password"
        placeholder="Confirm your Password"
      />
      <i
        class="bi bi-eye-fill showpass"
        style="display: none"
        onclick="toggleConfirmPass('show')"
      ></i>
      <i class="bi bi-eye-slash-fill hidepass" onclick="toggleConfirmPass('hide')"></i><br />
      <br />
      <p class="change-error" id="confirm_password_error">
        Password and Confirm Password must be same
      </p>
      <br /><br />
      <br />
      <span class="change-password-button" onclick="changePassword()">Change Password</span>
    </div>
    <script src="./task16Views/script.js"></script>
  </body>
</html>
