<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="./task16Views/styles.css" />
  </head>
  <body>
    <p class="logout" onclick="logout()">Logout</p>
    <ul>
      <li onclick="openTask1()">Dynamic Table</li>
      <li onclick="openTask2()">Kuku Kube</li>
      <li onclick="openTask3()">Tic Tac Toe</li>
      <li>Task4</li>
      <li>Task5</li>
      <li>Task6</li>
      <li>Task7</li>
      <li>Task8</li>
      <li>Task9</li>
      <li>Task10</li>
      <li>Task11</li>
    </ul>
    <script>
      const openTask1 = () => {
        window.location.href = "/task1";
      };
      const openTask2 = () => {
        window.location.href = "/task2";
      };
      const openTask3 = () => {
        window.location.href = "/task3";
      };
      const logout = async () => {
        let logout = await fetch("/logout", {
          method: "post",
          headers: { "Content-Type": "application/json" },
        });
        let response = await logout.json();
        console.log(response);
        if (response.type == "success") {
          window.location.href = "/login";
        }
      };
    </script>
  </body>
</html>
