.error {
  display: none;
  color: red;
}

.addfield {
  background-color: black;
  color: white;
  padding: 10px 10px;
  transition: 0.3s ease;
}

.addfield:hover {
  cursor: pointer;
  transform: scale(2.5);
}

.select {
  margin-bottom: 20px;
}

tr,
td,
th {
  margin: 0 auto;
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.add-user-button {
  border: 1px solid darkcyan;
  padding: 10px 10px;
  max-width: 80px;
  margin-left: 550px;
  margin-top: 50px;
  transition: 0.3s ease;
  color: darkcyan;
}

.add-user-button:hover {
  cursor: pointer;
  background-color: darkcyan;
  color: white;
}
